---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

import Container from '../components/Container.astro';
import Navbar from '../components/Navbar.astro';
import BlogSection from '../components/BlogSection.astro';

//query blog posts
const blogs = await getCollection('blog');
---

<Layout>
    <Navbar></Navbar>
    <Container>
        <h1>Blog</h1>
    </Container>
    <BlogSection></BlogSection>

</Layout>
