---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro'
import PageContainer from '../components/PageContainer.astro';
import Header from '../components/Header.astro';
import ProjectsSection from '../components/ProjectsSection.astro';

import MySkills from '../components/MySkills.astro';
---

<Layout>
	<Section>
		<PageContainer>
			<Header />
		</PageContainer>
	</Section>
	<Section dark>
		<PageContainer>
			<ProjectsSection />
		</PageContainer>
	</Section>
	<Section dark>
		<PageContainer>
			<MySkills />
		</PageContainer>
	</Section>
</Layout>
