# personal

images/original/
*to-do*
notes/
**media**
**private**
**private**/


# ignoring vscode config files

**vscode**
*.vs*
**vs**
**vs**/

# ignoring node modules
**node**

# ignoring astro files
astro/.astro
