body {
    color: white;
    background: url(private/space.jpg);
    background-size: cover;

    text-align: center;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
 
}

.btn {

    padding: 5px 10px;

    color: #000000;
    background-color: #ffffff;
    border: none;

}

.btn:hover {
    cursor: pointer;
}