* {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 20px;
}

.card {
    width: 400px;
    
    padding: 20px;
    margin: 0 auto;
   

    display: flex;
    justify-content: space-around;
    text-align: center;

    
   
   


    
    border-radius: 30px;
    
    background: #1B1E23;

    box-shadow: 8px 8px #FCA311;
;
}

/* IMAGE STYLING */


#me-img {
    width: 150px;
}

/* TEXT STYLING */

.text {
    
    padding: 5px;

    color: #ffffff;
}

#position {
    text-shadow: 0 0 2px #ffffff;
    font-style: oblique;
    text-decoration: underline;
}
