---
import type { CollectionEntry } from 'astro:content';
import { getCollection, render } from 'astro:content';
const posts = await getCollection('posts');
console.log(posts);

interface Props {
    post: CollectionEntry<"posts">;
}
// const { post } = Astro.props;
// const { Content } = await render(post);
---
<ul>
  {posts.map(post => (
    <li>
      <a href={`/posts/${post.id}`}>{post.data.title}</a>
      {post.body}
    </li>
  ))}
</ul>
