body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;

    
}

body * {
    padding: 1.5rem 0;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 1rem auto;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button:hover {
    outline: 5px solid #e4b3e4;
}

#increment-btn {
    background: darkred;
}



#save-btn {
    background: darkgreen;
}

