---
import { getCollection } from 'astro:content';

import BlogCard from './BlogCard.astro';

import SectionHeader from './SectionHeader.astro';
import Section from './Section.astro';
import HorizontalSeparator from './HorizontalSeparator.astro';

//query blog posts
const blogs = await getCollection('blog');
console.log(blogs);

const heading = 'Blog';
const cta = {text: 'View blog', href:"/blog"};
---

<!-- For each blog - use the component: separating component and display logic  -->
{blogs.map(blog => (
  <Section>
  <SectionHeader heading={heading} cta={cta}/>
    <BlogCard blog={blog}/>
    <HorizontalSeparator/>
</Section>
))}