---
import { getCollection } from 'astro:content';
import SectionHeader from './SectionHeader.astro';
import Section from './Section.astro';
import HorizontalSeparator from './HorizontalSeparator.astro';

import ButtonLink from './ButtonLink.astro';

//query blog posts
const blogs = await getCollection('blog');
console.log(blogs);

const heading = 'Blog';
const cta = {text: 'View blog', href:"/blog"};
---

<!-- wrap with Section -->
<!-- add section header -->
<Section>
    <SectionHeader heading={heading} cta={cta}/>
    <!-- replace hard-coded blog post with dynamically rendered posts -->
    {
      blogs.map(blog => (
        <div class="blog-card">
          <h3>{blog.data.title}</h3>
          <div class="metadata">
            
          </div>
        </div>
        
      ))
    }
    <div class="blog-card">
  <h3>Blog Title</h3>
  <div class="metadata">
    <p class="date">02/07/2025</p>
    <span class="vertical-separator"></span>
    <p class="tags">{['frontend', 'backend'].join(", ")}</p>
  </div>
  <p class="description">This is the description</p>
  <ButtonLink
  className='btn'
    href={`/blog/post1`}
    text="Read article"
    variant="btn-secondary"
  />
</div>
</Section>


<style>
  .blog-card {
    h3 {
      margin-bottom: 14px;
      font-size: 30px;
    }

    .metadata {
      display: flex;
      gap: 30px;
      align-items: center;
      margin-bottom: 20px;

      .vertical-separator {
        width: 1px;
        height: 30px;
        background-color: var(--dark);
      }

      .date {
        font-size: 20px;
      }

      .tags {
        font-size: 20px;
        color: var(--light);
      }

      @media screen and (max-width: 600px) {
        & {
          flex-direction: column;
          gap: 2px;
          align-items: start;
          margin-bottom: 10px;
          margin-top: 16px;

          * {
            margin: 0;
          }

          .vertical-separator {
            height: 0;
            dispaly: none;
          }
        }
      }
    }
    .description {
      font-size: 16px;
      color: var(--dark);
      margin-top: 0px;
      margin-bottom: 40px;
    }
  }
</style>
