---
import Section from "./Section.astro";

// astro-icon npm package
import { Icon } from "astro-icon/components";
---

<footer class="footer">
    <Section dark>
        <div class="nav-items">
            
            <Icon class="link" name="bi:mailbox2" />
            <Icon class="link" name="bi:github" />
            <Icon name="bi:linkedin" class="link" aria-hidden="true" />
            <Icon class="link" name="bi:twitter-x" />
        </div>
        <p class="rights-text">valerkahere.com ©All Rights Reserved.</p></div>
    </Section>``
</footer>
<style>
    .footer {
        p {
            text-align: center;
            color: var(--light);
            margin-top: 8px;
            font-size: 14px;
        }
        Section {
            padding: 2rem 0;
        }
        .nav-items {
            margin-block-end: 1rem;
            margin-block-start: 1rem;
            padding-inline-start: 0;
            list-style-type: none;
            display: flex;
            gap: 1.5rem;

            justify-content: center;

            .link {
                --size: 2rem;
                /* Control Size */
                width: var(--size);
                height: var(--size);
                /* display: block is usually safer for SVGs to avoid line-height weirdness */
                display: block;
            }
        }
    }
</style>
