---
import Container from "./Container.astro";
---

<nav class="nav">
  <Container>
    <div class="nav-container">
        <!-- add anchor tag with the logo as the image to link to the home page -->
         <a href="/"><img src="/src/images/ASTRA..svg" alt="Astra. Purple pixelated logo."></a>
      <ul class="nav-items">
        <!-- add three list items for projects, blog, and contact -->
        <!-- should be an li with a nested anchor tag -->
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </Container>
</nav>

<style>
  nav {
    background: var(--secondary);

    img {
      width: 100%;
    }

    .nav-container {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0;
      justify-content: space-between;
      align-items: center;

      .nav-items {
        margin-block-end: 1rem;
        margin-block-start: 1rem;
        padding-inline-start: 0;
        list-style-type: none;
        display: flex;
        gap: 1.5rem;
      }

      @media(min-width: 768px) {
        & {
          flex-direction: row;
        }
      }
    }
  }
</style>