---
import Container from "./Container.astro";
---

<nav class="nav">
  <Container>
    <div class="nav-container">
      <div>
        <!-- add anchor tag with the logo as the image to link to the home page -->
      </div>
      <ul class="nav-items">
        <!-- add three list items for projects, blog, and contact -->
        <!-- should be an li with a nested anchor tag -->
        
      </ul>
    </div>
  </Container>
</nav>

<style>
  nav {
    background: var(--secondary);

    img {
      height: 20px;
    }

    .nav-container {
      display: flex;
      padding: 24px 0;
      justify-content: space-between;
      align-items: center;

      .nav-items {
        list-style-type: none;
        display: flex;
        gap: 24px;

        a {
          text-decoration: none;
          color: var(--dark);
          font-size: 18px;
        }
      }

      @media screen and (max-width: 500px) {
        & {
          flex-direction: column;
          gap: 16px;
        }
        
      }
    }
  }
</style>