---

interface Props {
  cta: { href: string, text: string },
  heading: string
}

const {cta, heading} = Astro.props;
---

<div class="section-header">
    <h2>
      {heading}
    </h2>
    <a href={cta.href}>{cta.text}</a>
</div>

<style>
    .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    
    h2 {
        margin: 0;
        font-size: 32px;
        font-weight: 600;
    } 

    a {
        size: 16px;
        text-decoration: none;
        font-weight: 400;
        color: var(--dark);
    }
  }

</style>