---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro'
import PageContainer from '../components/PageContainer.astro';
import Header from '../components/Header.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
---

<Layout>
	<PageContainer>
		<Section dark>
			<Header />
		</Section>
		<Section>
			<ProjectsSection />
		</Section>
	</PageContainer>
</Layout>
