<header id="header">
  <div class="content">
    <h1>
    <span>Hi, I am Astra.</span>
      <span><span class="accent">Full-stack</span> Specialist!</span>
    </h1>
    <p class="description">
    I’m a Full-Stack Developer specializing in React.js, Next.js, Node.js,
    and database management. I build scalable, high-performance web
    applications, robust back-end architecture, and efficient API
    integrations.
    </p>
    <div class="button-container">
    <a href="/projects" >View projects</a>
    <a href="/resume.pdf"  download>Download resume</a>
    </div>
  </div>
  <img src="/images/me.png" />
</header>