---
interface Props {
    dark?: boolean
}
const {dark=false} = Astro.props;
---
{dark &&
    <section class="dark">
        <slot></slot>
    </section>
}

{!dark &&
    <section>
        <slot></slot>
    </section>
}

<style>
    .dark {
        background-color: var(--secondary);
    }

    section {
        padding: 80px 0;
    }
</style>
