* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: url("/fonts/CursedTimerUlil-Aznm.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

body {
    --bg: #222222;
    --text: #F9FAFB;
    --display-text: #FAF906;
    --display-focus: #C9C804;
    --display-bg: #080001;
    --add-points-btn-contrastpass: #A4BEF3;
    
    background-color: var(--bg);
    color: var(--text);

    
}

body * {
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, "Segoe UI", system-ui, sans-serif;
}

button {
    color: var(--add-points-btn-contrastpass);
    border: 2px solid var(--add-points-btn-contrastpass);
    background-color: transparent;
}

.container {
    width: 100%;
    margin-top: 2rem;
}

.container > * {
    margin: 5rem auto;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.display__title {
    text-transform: uppercase;
}

.display__counter {
    min-width: 250px;
    min-height: 171px;
    background-color: var(--display-bg);

    display: flex;
    justify-content: center;
    align-items: center;


    
}

.display__count {
    margin: 0;
    font-family: "Cursed Timer ULiL", Verdana, Geneva, Tahoma, "Segoe UI", system-ui, sans-serif;

}

.display__increment {
    font-family: "Cursed Timer ULiL", Verdana, Geneva, Tahoma, "Segoe UI", system-ui, sans-serif;
}

#newgame {
    display: block;
    margin: 0 auto;
}
