* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cursed Timer ULiL";
    src: url("/fonts/CursedTimerUlil-Aznm.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

body {
    --bg: #002147;
    --text: #F9FAFB;
    --display-text: #FAF906;
    --display-focus: #C9C804;
    --display-bg: #080001;
    --add-points-btn-contrastpass: #A4BEF3;
    
    background-color: var(--bg);
    color: var(--text);

    --spacing: 5rem;
    --container-size: 600px;

    margin: 1rem;
    
}

body * {
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, "Segoe UI", system-ui, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 115%;
}

button {
    color: var(--add-points-btn-contrastpass);
    border: 2px solid var(--add-points-btn-contrastpass);
    background-color: transparent;
}

.container {
    max-width: var(--container-size);
    

    margin: 3rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--spacing);
}

.display {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    
    gap: 1.5rem;
    
    /*So that gap for flex childs and button's top+bottom margin are the same*/
}

.display__title {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.display__counter {
    background-color: var(--display-bg);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
    flex: 1; 
}

.display__count {
    margin: 0;
    font-family: "Cursed Timer ULiL", Verdana, Geneva, Tahoma, "Segoe UI", system-ui, sans-serif;
    font-size: 4.625rem;
    color: var(--display-text)

}

.display__increment-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex: 1;
    

    
}

.display__increment {
    width: 100%;
    font-family: "Cursed Timer ULiL", Verdana, Geneva, Tahoma, "Segoe UI", system-ui, sans-serif;
    font-size: 1.5rem;
    padding: 0.5em 0.5em;
}

.newgame__container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container-size);
}

#newgame {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: var(--spacing) 0;
    
    

    padding: 1em 2em;
    
}

svg {
    display: inline;
    height: 1em;
    width: 1em;
    
}

@media (min-width: 1024px) {
    body * {
        font-size: 1.5rem;
        --container-size: 1600px;
    }

    .container {
        flex-direction: row;

    }
    
    .display__counter {
        width: 100%;
        min-height: 400px;
        
    }

    .display__title {
        font-size: 5rem;
    }

    .display__count {
        font-size: 5.625rem;
    }

    .display__increment {
        font-size: 3rem;
    }
    
    #newgame {
        padding: 2em 3em;
    }
}
